<html>
<head><title>流媒体监控系统</title></head>
<body>
<h1></h1>
<link rel="stylesheet" href="stylesheets/bootstrap.min.css">


<h1 align="center">流媒体监控系统</h1>

<div class="form-inline" style="width: 1280px;height: 50px;margin: 0 auto">
    <div class="form-group" style="margin: 0 60px;">
        <label for="forIp">输入rtsp服务地址</label>
        <input type="text" class="form-control" id="forIp" placeholder="rtsp address" style="width: 300px;">
        <label for="forUser">用户名</label>
        <input type="text" class="form-control" id="foruser" placeholder="user" style="width: 300px;">
        <label for="forPwd">密码</label>
        <input type="text" class="form-control" id="forPwd" placeholder="" style="width: 300px;">
        <button type="submit" class="btn btn-default" onclick="getRtsp()">连接</button>
    </div>
</div>
<div style="margin: 0 auto;width: 1280px;height: 720px;">
    <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org"
           width="100%" height="100%" id="vlc">
    </embed>
</div>
<input id="btnOK" type="button"/>
<script language="Javascript">
    function getRtsp(event){
        var vlc = document.getElementById("vlc");
        var ip = document.getElementById("forIp").value;
        ip = "rtsp://"  +　ip;
        var id = vlc.playlist.add(ip);
        vlc.playlist.playItem(id);
    }

</script>
</body>
</html>